:root {
  --heading-text-color: #152427;
  --paragraph-text-color: #7d8188;
  --primary-bg-color: #143c3c;
  --secondary-bg-color: #e2eddf;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
}

/* ===== Common ===== */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 15px 52px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 40px;
  border: 1.5px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

.row {
  display: flex;
  align-items: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ===== Header-top ===== */
.header-top {
  padding: 28px 0 13px;
  z-index: 9;
}

.header-top .container {
  position: relative;
}

.header-top .container::after {
  content: "";
  position: absolute;
  bottom: -13px;
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

.header-top .container::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -13px;
  display: block;
  width: 16px;
  height: 2px;
  background-color: var(--primary-bg-color);
  z-index: 1;
}

.header-top .navbar {
  margin-left: auto;
}

.header-top .navbar__link {
  padding: 8px 19px;
  color: #575d5e;
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
  transition: 0.2s;
}

.header-top .navbar__link:hover,
.header-top .navbar__active {
  color: var(--heading-text-color);
}

.header-top .navbar__btn {
  margin-left: 69px;
}

/* ===== Hero ===== */
.hero {
  padding: 60px 0 88px;
}

.hero > .row {
  column-gap: 70px;
}

.hero__content {
  transform: translateY(-77px);
}

.hero__heading {
  color: var(--heading-text-color);
  font-family: "Public Sans", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero__desc {
  margin-top: 20px;
  color: #575d5e;
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.hero__cta {
  margin-top: 42px;
  column-gap: 36px;
}

.hero__btn {
  padding: 15px 35px;
}

.hero__cta-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  font-size: 1.2rem;
  color: #fef6fb;
  background-color: #83a17d;
  border-radius: 50%;
}

.hero__cta-icon::before {
  content: "";
  position: absolute;
  display: block;
  width: 58px;
  height: 58px;
  border-width: 4px;
  border-style: solid;
  border-color: var(--primary-bg-color) transparent transparent
    var(--primary-bg-color);
  transform: rotate(-45deg);
  border-radius: 50%;
}

.hero__cta-link {
  margin-left: 15px;
  color: var(--heading-text-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.hero__media {
  position: relative;
}

.hero__images {
  padding-bottom: 77px;
}

.hero__img {
  margin-right: 20px;
  max-width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
}

.hero__img:nth-child(2) {
  transform: translateY(77px);
}

.hero__circle {
  position: absolute;
  left: 150px;
  bottom: 81px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: #4dbb9a;
  filter: blur(137px);
  z-index: -1;
}

.hero__avstract-left {
  position: absolute;
  top: -20px;
  left: -218px;
}

.hero__avstract-right {
  position: absolute;
  bottom: -36px;
  right: 0;
}

.hero__line-left {
  position: absolute;
  top: -24px;
  left: -173px;
}

.hero__line-right {
  position: absolute;
  right: 44px;
  bottom: -40px;
  transform: rotate(180deg);
}

/* ===== Brands ===== */
.brands {
  margin-top: 42px;
}

.brands .container {
  justify-content: space-between;
  padding: 76px 121px;
  background-color: var(--secondary-bg-color);
  border-radius: 999px;
  color: var(--primary-bg-color);
}

.brands__google {
  font-size: 3.2rem;
  font-weight: 500;
}

.brands__slack {
  font-size: 3.2rem;
  font-weight: 600;
}

.brands__slack .fa-slack {
  margin-right: 5px;
  font-size: 2.2rem;
}

.brands__agworld {
  color: #163c35;
  font-size: 2.6rem;
}

.brands__agworld .fa-discord {
  margin-right: 11px;
  color: var(--primary-bg-color);
  font-size: 2.4rem;
}

.brands__riotinto {
  font-family: "Sonsie One", system-ui;
  font-size: 2.3rem;
}

.brands__heroku {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1.995px;
}

.brand__heroku-img {
  margin-right: 14px;
}

/* ===== Services ===== */
.services {
  margin-top: 106px;
}

.services__header.row {
  justify-content: space-between;
  align-items: flex-end;
}

.services__header-left {
  width: 46%;
}

.services__subtitle {
  color: var(--heading-text-color);
  font-weight: 500;
}

.services__subtitle::before {
  content: "";
  display: inline-block;
  margin: 0 21px 8px 0;
  width: 25px;
  height: 1px;
  background-color: var(--heading-text-color);
}

.services__heading {
  margin-top: 12px;
  color: var(--heading-text-color);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.services__heading::after {
  content: "";
  display: inline-block;
  margin: 0 0 8px 8px;
  width: 66px;
  height: 2px;
  background-color: var(--heading-text-color);
}

.services__control {
  margin-right: 73px;
  margin-bottom: 10px;
}

.services__control .fa-solid {
  width: 54px;
  height: 54px;
  font-size: 2rem;
  text-align: center;
  line-height: 53px;
  color: var(--heading-text-color);
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.services__control .fa-solid + .fa-solid {
  margin-left: 17px;
}

.services__control .fa-solid:hover {
  color: #fff;
  background-color: var(--heading-text-color);
}

.services__list {
  margin-top: 76px;
  display: grid;
  grid-auto-columns: calc((100% / 3 - 10.66px));
  grid-auto-flow: column;
  column-gap: 16px;
  overflow: hidden;
}

.services__item {
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.services__item:hover {
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__img {
  max-width: 100%;
  height: 318px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.services__body {
  padding: 24px 0;
  transition: all 0.3s;
}

.services__title {
  color: var(--heading-text-color);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.services__desc {
  margin-top: 18px;
  max-width: 268px;
  color: var(--paragraph-text-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

.services__item:hover .services__body {
  padding-left: 18px;
}

/* ==== About ===== */
.about {
  margin-top: 157px;
}

.about .row {
  align-items: flex-start;
  position: relative;
}

.about__media {
  position: relative;
  gap: 20px;
  padding-bottom: 77px;
}

.about__img {
  width: 284px;
  height: 480px;
  object-fit: cover;
  border-radius: 999px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
  transform: translateY(77px);
}

.about__avstract {
  position: absolute;
  top: -25px;
  left: 46px;
}

.about__line {
  position: absolute;
  top: 27px;
  left: 53px;
  transform: rotate(12deg);
}

.about__card {
  position: absolute;
  right: -9px;
  bottom: 0;
  padding: 19px 17px 11px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about__card-header {
  padding: 0 5px;
}

.about__card-title {
  color: var(--heading-text-color);
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
}

.about__card-desc {
  margin-top: 3px;
  color: #575d5e;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.about__card-number {
  margin-top: 10px;
  color: var(--heading-text-color);
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.about__card-bar {
  margin-top: 2px;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
  border-radius: 10px;
}

.about__card-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40%;
  height: 2px;
  border-radius: 10px;
  background-color: #83a17d;
}

.about__card-text {
  margin-top: 2px;
  text-align: right;
  color: var(--heading-text-color);
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.about__card-circle {
  margin-top: 3px;
  position: relative;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #eaeaea;
}

.about__card-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
}

.about__card-teams {
  justify-content: space-between;
  margin-top: 4px;
}

.about__card-teams p {
  color: var(--heading-text-color);
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.about__card-avatars img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.about__card-avatars img + img {
  margin-left: -6px;
}

.about__content {
  width: 43%;
  margin-left: auto;
}

.about__content-subtitle {
  color: var(--heading-text-color);
  font-weight: 500;
}

.about__content-subtitle::before {
  content: "";
  display: inline-block;
  margin: 0 20px 5px 0;
  width: 25px;
  height: 1px;
  background-color: var(--heading-text-color);
}

.about__content-heading {
  margin-top: 20px;
  color: var(--heading-text-color);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.about__content-desc {
  margin-top: 11px;
  color: var(--paragraph-text-color);
  font-weight: 500;
  line-height: 1.62;
}

.about__content-info.row {
  align-items: center;
  gap: 34px;
  padding-bottom: 20px;
  margin-top: 36px;
  border-bottom: 1px solid #83a17d;
}

.about__content-info span:first-child {
  color: var(--heading-text-color);
  font-size: 4.2rem;
  font-weight: 600;
}

.about__content-info span:last-child {
  color: var(--paragraph-text-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

/* ===== Process ==== */
.process {
  margin-top: 79px;
}

.process .container {
  padding: 36px 0 28px;
}

.process__subtitle {
  color: var(--heading-text-color);
  font-weight: 500;
}

.process__subtitle::before {
  content: "";
  display: inline-block;
  margin: 0 20px 5px 0;
  width: 25px;
  height: 1px;
  background-color: var(--heading-text-color);
}

.process__heading {
  margin-top: 18px;
  width: 42%;
  color: var(--heading-text-color);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.process__heading::after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 2px;
  background-color: var(--heading-text-color);
  transform: translate(26px, -6px);
}

.process__list {
  margin-top: 80px;
}

.process__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 54px 41px 28px 20px;
  border-radius: 33px;
}

.process__item:first-child {
  border-radius: 33px;
  background-color: #e2eddf;
}

.process__item:not(:first-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
}

.process__item-number {
  color: var(--primary-bg-color);
  font-size: 7.2rem;
  font-weight: 600;
}

.process__item-title {
  color: var(--heading-text-color);
  font-size: 2.2rem;
  font-weight: 600;
}

.process__item:nth-child(2) .process__item-title {
  margin-left: -15px;
}

.process__item:last-child .process__item-title {
  margin-left: -17px;
}

.process__item:first-child .process__item-number {
  flex: 0;
}

.process__item > div {
  margin-top: 32px;
}

.process__item-link {
  display: inline-block;
  margin-top: 10px;
  color: #575d5e;
  font-size: 1.8rem;
  text-decoration: underline;
}

.process__item-img {
  position: absolute;
  bottom: 0;
  right: 90px;
}

.process__item-desc {
  width: 50%;
  margin-left: auto;
  color: var(--paragraph-text-color);
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

/* ===== Features ===== */
.features {
  margin-top: 148px;
  padding: 116px 0 63px;
  background-color: var(--primary-bg-color);
}

.features__content {
  margin-bottom: 65px;
}

.features__heading {
  width: 44%;
  color: #e7f9f9;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.features__heading::after {
  content: "";
  display: inline-block;
  margin-bottom: 8px;
  width: 66px;
  height: 2px;
  background-color: #83a17d;
}

.features__info {
  width: 50%;
  margin-left: 50px;
  padding-top: 15px;
}

.features__desc {
  color: #6a8383;
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.features__link {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.features__link .fa-arrow-right-long {
  margin-left: 25px;
  color: #80a07b;
}

.features__media {
  position: relative;
}

.features__img {
  width: 100%;
  height: 544px;
  object-fit: cover;
  border-radius: 22px;
}

.features__btn {
  display: inline-block;
  width: 118px;
  height: 118px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  line-height: 116px;
  font-size: 3.3rem;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
